<!-- init global vars, load settings from local storage -->
<script>
   // Provide site root to javascript
    var path_to_root = "{{ path_to_root }}";
    var default_theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "{{ preferred_dark_theme }}" : "{{ default_theme }}";

    // Work around some values being stored in localStorage wrapped in quotes
    try {
        var theme = localStorage.getItem('mdbook-theme');
        var sidebar = localStorage.getItem('mdbook-sidebar');

        if (theme.startsWith('"') && theme.endsWith('"')) {
            localStorage.setItem('mdbook-theme', theme.slice(1, theme.length - 1));
        }

        if (sidebar.startsWith('"') && sidebar.endsWith('"')) {
            localStorage.setItem('mdbook-sidebar', sidebar.slice(1, sidebar.length - 1));
        }
    } catch (e) { }

    // Set the theme before any content is loaded, prevents flash
    var theme;
    try {theme = localStorage.getItem('mdbook-theme'); } catch (e) { }
    if (theme === null || theme === undefined) {theme = default_theme; }
    var html = document.querySelector('html');
    html.classList.remove('{{ default_theme }}')
    html.classList.add(theme);
    var body = document.querySelector('body');
    body.classList.remove('no-js')
    body.classList.add('js');

</script>
<input type="checkbox" id="sidebar-toggle-anchor" class="hidden">

<!-- Hide / unhide sidebar before it is displayed -->
<script>
    var body = document.querySelector('body');
    var sidebar = null;
    var sidebar_toggle = document.getElementById("sidebar-toggle-anchor");
    if (document.body.clientWidth >= 1080) {
        try { sidebar = localStorage.getItem('mdbook-sidebar'); } catch (e) { }
        sidebar = sidebar || 'visible';
    } else {
        sidebar = 'hidden';
    }
    sidebar_toggle.checked = sidebar === 'visible';
    body.classList.remove('sidebar-visible');
    body.classList.add("sidebar-" + sidebar);
</script>


<nav id="sidebar" class="sidebar" aria-label="Table of contents">
    <div class="sidebar-scrollbox">
                {{> @partial-block }}
    </div>
    <div id="sidebar-resize-handle" class="sidebar-resize-handle">
        <div class="sidebar-resize-indicator"></div>
    </div>
</nav>

<!-- Track and set sidebar scroll position -->
<script>
    var sidebarScrollbox = document.querySelector('#sidebar .sidebar-scrollbox');
    sidebarScrollbox.addEventListener('click', function (e) {
        if (e.target.tagName === 'A') {
            sessionStorage.setItem('sidebar-scroll', sidebarScrollbox.scrollTop);
        }
    }, { passive: true });
    var sidebarScrollTop = sessionStorage.getItem('sidebar-scroll');
    sessionStorage.removeItem('sidebar-scroll');
    if (sidebarScrollTop) {
        // preserve sidebar scroll position when navigating via links within sidebar
        sidebarScrollbox.scrollTop = sidebarScrollTop;
    } else {
        // scroll sidebar to current active section when navigating via "next/previous chapter" buttons
        var activeSection = document.querySelector('#sidebar .active');
        if (activeSection) {
            activeSection.scrollIntoView({ block: 'center' });
        }
    }
</script>