<ol class="chapter">
    <li class="chapter-item expanded affix "><a href="index.html" class="active">Introduction</a></li>
    <li class="chapter-item expanded affix ">
    <li class="part-title">Items</li>
    <li class="chapter-item expanded "><a href="item_one.html"><strong aria-hidden="true">1.</strong>
            Item One</a></li>
</ol>