---
title: Hypertext
---
<p>Ted Nelson coined the term hypertext in his 1965 paper
"A File Structure for the Complex, the Changing and the
Indeterminate"</p>
<blockquote>
    {{> ref/hypertext.html }}
</blockquote>

<p>Many of the concepts had been described decades
(even centuries) earlier, and Nelson cites the
influential article "As We May Think" where Vannevar Bush
describes <a href="memex.html">the "memex"</a></p>

