---
title: Hypertext
---
# Two audio players on one page

In the article "As We May Think," published in The Atlantic in July 1945,
Vannevar Bush described an imaginary future device
with capabilities of software and hardware that run
our modern computer file systems, the Internet and World Wide Web.

<blockquote>
    {{> ref/memex-quote.html }}
</blockquote>

<p>A full description of the memex is referenced in <a href="memex.html">"As We May Think" section 6</a>.</p>


Decades later, Ted Nelson coined the term hypertext in his 1965 paper
"A File Structure for the Complex, the Changing and the
Indeterminate"

<blockquote>
    {{> ref/hypertext.html }}
</blockquote>


