<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    {{!-- <title>{{ title }}</title> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
{{> _livereload }}

<body>
    {{> ref/hypertext }}
</body>

</html>