---
title: As We May Think
---
<p>Vannevar Bush introduces the memex section 6 of his influential article <em>As We May Think</em></p>
<blockquote>
    {{> ref/as-we-may-think-6.html }}
</blockquote>


