<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    {{!-- <title>{{ title }}</title> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<script>
    const wsProtocol = location.protocol === 'https:' ? 'wss:' : 'ws:';
    //const wsAddress = wsProtocol + "//" + location.host + "/" + "{{{live_reload_endpoint}}}";
    const wsAddress = wsProtocol + "//" + location.host + "/__livereload";
    const socket = new WebSocket(wsAddress);
    socket.onmessage = function (event) {
        if (event.data === "reload") {
            socket.close();
            location.reload();
        }
    };

    window.onbeforeunload = function () {
        socket.close();
    }
</script>


<body>
    {{{ body }}}
</body>

</html>