<html>
<head>
    <link rel="icon" type="image/x-icon" href="theme/icons8-favicon-pulsar-color.ico">
    <link rel="stylesheet" href="theme/theme.css">
</head>

{{{ body }}}


<hr/>
<div class="footer">
<a target="_blank" href="https://icons8.com/icon/DeMfLBk8n72B/globe">favicon</a> icon by <a target="_blank"
    href="https://icons8.com">Icons8</a>

    Footer Illustration by <a href="https://icons8.com/illustrations/author/ARh4OKrFtdfC">Pixeltrue Ouch!</a>
</div>

</html>