{{#> layout title="Item 1" path_to_root="/" default_theme="light"}}
<h1>Introduction</h1>
<p>What a nightmare. Silence Earthling. my name is Darth Vader. I'm am an extra-terrestrial from the planet Vulcan. I just
wanna use the phone. Oh. No.</p>
<p>
Well, ma, we talked about this, we're not gonna go to the lake, the car's wrecked. Uh, Doc. Calvin, why do you keep
calling me Calvin? Yeah, it's in the back. My god, they found me. I don't know how but they found me. Run for it, Marty.
My god, they found me. I don't know how but they found me. Run for it, Marty.
</p>
<p>
Never? Marty, you interacted with anybody else today, besides me? Doc? Am I to understand you're still hanging around
with Doctor Emmett Brown, McFly? Tardy slip for you, Miss Parker. And one for you McFly I believe that makes four in a
row. Now let me give you a nickle's worth of advice, young man. This so called Doctor Brown is dangerous, he's a real
nutcase. You hang around with him you're gonna end up in big trouble. Hey McFly, what do you think you're doing. But
you're good, Marty, you're really good. And this audition tape of your is great, you gotta send it in to the record
company. It's like Doc's always saying.
</p>
{{/layout}}
