<!DOCTYPE HTML>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="audio.css">

</head>

<body>
    <div id="rewind" class="button-14">
        <img src="/icon/rewind24.png" />
    </div>
    <div id="play" class="button-14">
        <img src="/icon/play24.png"/>
    </div>

    {{{ body }}}
    {{> _audioplayback }}
</body>

</html>